ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
body 
{
    background-image: url(http://unrealcss.ru/ConfiguratorCars/Configurate/images/background.png);
}
.content{
max-width:100%;
text-align:center;
}

.content p{

font-size:30px;
color:#4caf50;
}



.widgets-footer,.soc-wrapper{background-color:#242424}.widgets{padding-left:30px;color:#c4c5bf;padding:50px 0 30px 0;text-align:center;}.widgets h3{color:#79a7a0;font-size:14px;margin:0 0 24px 0}.widgets .user{color:#57c5a0}.widgets .comnt{font-size:16px;font-style:italic}.soc-wrapper{border-top:1px solid black;padding:37px 0 47px 0}

.link{
text-align:center;
}
.soc-wrapper a{color:green;display:inline-block;background-color:#dc8805;width:50px;height:50px;text-align:center;line-height:50px}.soc-wrapper a:hover{color:#0b94bf}.footer{background-color:#2e2e2e}.footer .foter{line-height:120px}.footer .copy{opacity:.5;color:#fff;font-size:12px;line-height:12px;margin-top:30px}

