@charset "utf-8";

table{
    background-color: snow;
}

body{
    margin:0px;
    background: #333333 url(../img/pattern.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input[type=text], select {
    width: 100%;
    border-radius: 5px;
    margin: 7px 0;
    border: 1px solid #ccc;
    padding: 14px 18px;
    display: inline-block;
    box-sizing: border-box;
}

input[type=login], select {
    width: 100%;
    border-radius: 5px;
    margin: 7px 0;
    border: 1px solid #ccc;
    padding: 14px 18px;
    display: inline-block;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    border-radius: 5px;
    margin: 7px 0;
    border: 1px solid #ccc;
    padding: 14px 18px;
    display: inline-block;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #f2dede;
    border-color: #e4b9c0;
}

input[type=submit] {

    width: 100%;
    border: double;
    border-color: #1a1a1a;
    color: black;
    padding: 14px 20px;
    background-color: #d9edf7;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 4px;

}

button[type=button] {
    width: 100%;
    border: dotted;
    border-color: #00b3ee;
    color: black;
    padding: 14px 20px;
    background-color: #d9edf7;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 40px;

}

button[type=button]:hover {
    background-color: #f2dede;
    border-color: #e4b9c0;
}